---
layout: default
---

<div class="field-notes-container">
  <div class="field-notes-row">
    <div class="field-note">
      <img src="{{ site.baseurl }}/assets/img/field-note-1.jpg" alt="Field Note 1" />
    </div>
    <div class="field-note">
      <img src="{{ site.baseurl }}/assets/img/field-note-2.jpg" alt="Field Note 2" />
    </div>
  </div>

  <div class="field-notes-row">
    <div class="field-note">
      <img src="{{ site.baseurl }}/assets/img/field-note-3.jpg" alt="Field Note 3" />
    </div>
    <div class="field-note">
      <img src="{{ site.baseurl }}/assets/img/field-note-4.jpg" alt="Field Note 4" />
    </div>
  </div>

  <!-- Add more rows as needed -->
  <div class="field-notes-row">
    <div class="field-note">
      <img src="{{ site.baseurl }}/assets/img/field-note-5.jpg" alt="Field Note 5" />
    </div>
    <div class="field-note">
      <img src="{{ site.baseurl }}/assets/img/field-note-6.jpg" alt="Field Note 6" />
    </div>
  </div>

  <p>Scroll down for more updates from the field...</p>
</div>
